.pagy {
  display: flex;
  align-items: center;
  gap: 5px;
  &__item {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #4ed6ff;
    &--current {
      transition: 0.3s;
      background-color: #98ffc6;
    }
  }
}
